body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bg-main {
    background-color: #949494;
}
